body{
	background-image: url(book.jpeg);
	height: 100vh;
	background-size:cover;
	background-position: center;
}
h1,h2{
	color: #FE0E03;
	text-align: center;
}
.login-form{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}
form{
	position: center;
	z-index: 1;
	background: transparent;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background:#f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form buttton:hover,form button:active{
	background: blue;
}

form .message{
	margin:15px 0 0;
	color: black;
	font-size: 20px;
}

form .message a{
	color: blue;
	text-decoration: none;
}
button{
	position: center;
	background-color: red; 
 	border: none;
  	padding: 15px 32px;
  	
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 30%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	cursor: pointer;
}

td {
	background-color: #F19885;
  color: white;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #85ACF1;
  color: white;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}