{% extends "layout.html" %}

{% block title%}
	Book
{% endblock%}

{% block body %}
    <form class="register-form" action="{{url_for('signin')}}" method="POST">
    <input type="text" name="username" placeholder="Name"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="email" name="email" placeholder="email_address"/>
    <input type="text" name="phone" placeholder="Phone_number" pattern="[0-9]{10}" />
    <button> create </button>
    {% if error %}
		<p>{{ error }}</p>
	{% endif %}
    <p class="message">Already registerd? <a href="{{url_for('login')}}">login</a>
    </form>
{% endblock %}
